---
layout: layouts/home.njk
eleventyNavigation:
  key: Hello
  order: 1
---
<h1>Hello!</h1>

<p>I’m Pete. I’m a <strong>lead interaction designer</strong> working for the `<strong>Department for Work and Pensions</strong> on <strong>Health and Disability services</strong>.</p>

<p>I’m passionate about using design as a tool for social good. We have a responsibility to use what we do in a manner that is <strong>ethical</strong>, <strong>accessible</strong>, and <strong>beneficial</strong> for the public.</p>

<p>My present role involves heading up interaction design across a portfolio of services that help people living with a health condition or disability to access help and support.</p>

<p>In the past I have worked for a number of clients and companies including RIBA Enterprises, HMRC, Virgin Money and Sadiq Khan.</p>
